ion-content {
  --background: #7490b0b4;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
ion-img {
  max-width: 100%;
  height: auto;
  margin-bottom: 20px;
}
.image-container {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
ion-button {
  --background: #87cefa;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 300px;
}
.center {
  margin: 0;
  position: absolute;
  top: 65%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
ion-icon {
  font-size: 40px;
  color: #582031;
}
p{
  color: #e4d6d6;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}
