<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tracking</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <div class="logo">
      <img src="assets/animal.png" alt="Logo">
    </div>
    <form (ngSubmit)="onSubmit($event)" #filterForm="ngForm" class="form-container">
      <ion-item>
        <ion-label position="floating">Typ auswählen</ion-label>
        <ion-select [(ngModel)]="selectedType" name="type" required (ionChange)="onTypeChange($event)">
          <ion-select-option value="1">Buch</ion-select-option>
          <ion-select-option value="2">Serie</ion-select-option>
          <ion-select-option value="3">Film</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Genre auswählen</ion-label>
        <ion-select [(ngModel)]="selectedGenre" name="genre" required [disabled]="!availableGenres.length">
          <ion-select-option *ngFor="let genre of availableGenres" [value]="genre.id">{{ genre.name }}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-button expand="full" type="submit" [disabled]="!filterForm.form.valid">Filtern</ion-button>
    </form>

    <div class="data" *ngIf="filteredMediaList.length > 0">
      <table>
        <thead>
          <tr>
            <th>Bild</th>
            <th>Name</th>
            <th>Aktionen</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let medium of filteredMediaList">
            <td><img [src]="medium.imgURL" alt="Media Image"></td>
            <td>{{ medium.name }}</td>
            <td><ion-button (click)="trackMedia(medium.mediaID)">Tracken</ion-button></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</ion-content>



