<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>neues Medium</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">new Entry</ion-title>
    </ion-toolbar>
  </ion-header>

  <form (ngSubmit)="onSubmit($event)" #mediaForm="ngForm">
    <ion-item>
      <ion-label position="floating">Name</ion-label>
      <ion-input type="text" [(ngModel)]="media.name" name="name" required></ion-input>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Typ</ion-label>
      <ion-select [(ngModel)]="media.type" name="type" required (ionChange)="onTypeChange($event)">
      <ion-select-option value="1" >Buch</ion-select-option>
      <ion-select-option value="2">Serie</ion-select-option>
      <ion-select-option value="3">Film</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="floating">Genre</ion-label>
      <ion-select [(ngModel)]="media.genre" name="genre" required>
        <ion-select-option *ngFor="let genre of availableGenres" [value]="genre">{{genre}}</ion-select-option>
        <ion-select-option *ngIf="availableGenres.length === 0" value=""></ion-select-option>
      </ion-select>      
    </ion-item>
    <ion-item>
      <ion-label position="floating">Image</ion-label>
      <input type="file" (change)="onFileChange($event)" required/>
    </ion-item>
    <ion-button expand="full" type="submit" [disabled]="!mediaForm.form.valid">Speichern</ion-button>
  </form>
  <ion-button [routerLink]="['/home']">
    <p>Homepage</p>
    </ion-button>
</ion-content>


