ion-content {
  --background: #7490b0b4;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.logo {
  display: flex;
  justify-content: center;
  margin: 20px 0;
  animation: fadeIn 2s ease;
}

.logo img {
  width: 120px;
  height: auto;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  animation: fadeIn 2s ease 1s;
}

.form-container {
  width: 100%;
  max-width: 500px;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

ion-item {
  --background: #fff;
  --border-radius: 0.5rem;
  margin-bottom: 1rem;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

ion-label {
  color: #1f3a93; /* Marineblau */
  font-weight: 600;
}

ion-input, ion-select {
  color: #495057;
  padding: 0.75rem;
  --padding-start: 0;
  --padding-end: 0;
}

input[type="file"] {
  display: block;
  width: 100%;
  padding: 0.75rem;
  border: 1px solid #ced4da;
  border-radius: 0.5rem;
  background-color: #fff;
  font-size: 1rem;
  color: #495057;
}

ion-button {
  --background: #87cefa;
  --box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  height: 50px;
  width: 100%;
  max-width: 300px;
  margin-top: 20px;
}

ion-button:hover {
  background: #ffb6c1;
}

.btn p {
  color: #e4d6d6;
  font-size: 20px;
  line-height: 25px;
  margin: 0;
}

@media (max-width: 576px) {
  ion-title {
    font-size: 1.25rem;
  }

  .form-container {
    padding: 10px;
  }

  ion-item {
    margin-bottom: 0.75rem;
  }

  ion-button {
    font-size: 0.875rem;
  }
}

