ion-content {
    --background: #f8f5f7;
  }
  
  .logo {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    margin-top: 80px;
    animation: fadeIn 2s ease;
  }
  
  .logo img {
    width: 100px;
    height: auto;
  }
  
  ion-title {
    font-size: 2em;
    color: #cdc3c4;
    text-align: center;
    margin-top: 10px;
    animation: fadeIn 1.5s ease;
  }
  .subtitle {
    font-size: 18px;
    color: #87cefa;
    text-align: center;
    margin-bottom: 10px;
    animation: fadeIn 1.5s ease 0.5s;
    margin-top: 7px;
  }

  p {
    font-size: 1.2em;
    color: #87cefa;
    text-align: center;
    margin-bottom: 20px;
    animation: fadeIn 1.5s ease 0.5s;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 60vh;
    padding: 0 20px;
    animation: fadeIn 2s ease 1s;
  }
  
  .data {
    width: 100%;
    max-width: 400px;
    background: #f0f8ff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
    transition: transform 0.3s ease;
  }
  
  .data:hover {
    transform: translateY(-10px);
  }
  
  ion-item {
    --background: #ffffff;
    --border-color: #87cefa;
    --ion-color-base: #ffb6c1;
    margin: 10px 0;
    border: 1px solid #87cefa;
    border-radius: 5px;
    position: relative;
    transition: box-shadow 0.3s ease;
  }
  
  ion-item:hover {
    box-shadow: 0 4px 8px rgba(135, 206, 250, 0.5);
  }
  
  ion-input {
    --color: #000000;
  }
  
  ion-input::placeholder {
    color: #ffb6c1;
  }
  
  ion-icon {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #87cefa;
  }
  
  .btnsignup {
    --background: #87cefa;
    --color: #ffffff;
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    border-radius: 5px;
    transition: background 0.3s ease;
  }
  
  .btnsignup:hover {
    --background: #ffb6c1;
  }
  
  .additional-links {
    margin-top: 20px;
    text-align: center;
    font-size: 17px;
  }
  
  .additional-links a {
    color: #87cefa;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
  }
  
  .additional-links a:hover {
    color: #ffb6c1;
    text-decoration: underline;
  }
  .links{
    color: #87cefa;
    margin: 0 10px;
    text-decoration: none;
    transition: color 0.3s ease;
    font-size: 17px;
  }
  