<ion-content>
  <div class="container">
    <div class="profile-header">
      <div class="profile-picture-container"><img src="assets/mario.png" class="profile-picture" alt="Profilbild"></div>
      <div class="data">
        <ion-item lines="none">
          <ion-label>
            <h2>Benutzername: {{username}}</h2>
            <p>Email: {{ email }}</p>
          </ion-label>
        </ion-item>
      </div>
    </div>
    <ion-button (click)="logout()" class="logout" expand="full">Logout</ion-button>
    <ion-button (click)="home()" class="home" expand="full">Home</ion-button>
  </div>
</ion-content>
